.Rproj.user
.Rhistory
.RData
.Ruserdata
Homework7/Homework7.fdb_latexmk
Homework7/Homework7.aux
Homework7/Homework7.fls
Homework7/Homework7.log
Homework7/Homework7.synctex.gz
Homework8/HW8.aux
Homework8/HW8.fdb_latexmk
Homework8/HW8.fls
Homework8/HW8.log
Homework8/HW8.synctex.gz
