.Rproj.user
.Rhistory
.RData
.Ruserdata
Homework7/Homework7.fdb_latexmk
Homework7/Homework7.aux
Homework7/Homework7.fls
Homework7/Homework7.log
Homework7/Homework7.synctex.gz
Homework8/HW8.aux
Homework8/HW8.fdb_latexmk
Homework8/HW8.fls
Homework8/HW8.log
Homework8/HW8.synctex.gz
Exam1/guide.fdb_latexmk
Exam1/guide.fls
Exam1/guide.log
Exam1/guide.synctex.gz
Homework9/HW9.aux
Homework9/HW9.fdb_latexmk
Homework9/HW9.fls
Homework9/HW9.log
Homework9/HW9.synctex.gz
